{% extends "base.html" %}
{% block content %}
    <h2>{{ page_title}}</h2>
    <p>At Therapy Flask Company, we are dedicated to revolutionizing the way people approach mental health and well-being.
        Our
        innovative products and cutting-edge technology are designed to provide accessible, effective, and personalized
        mental
        health support to individuals around the world. By joining our team, you will be at the forefront of a rapidly
        growing
        industry, making a meaningful impact on the lives of countless individuals.
    </p>

    <h2>Our Mission</h2>
    <p>Our mission is to empower people to take control of their mental health through innovative solutions. We believe that
        everyone deserves access to high-quality mental health care, and we are committed to breaking down the barriers that
        prevent people from seeking the help they need.
    </p>

    <div class="row featurette">
        <div class="col-md-7">
            <h2>Why Work With Us? </h2>
            <h3>
                Innovative Environment: 
            </h3>
            <p>At Therapy Flask, you will be part of a dynamic and forward-thinking team. We foster a culture of innovation where
                your
                ideas and contributions are valued and encouraged. We are always exploring new ways to improve our products and
                services, ensuring that we stay ahead of the curve in the mental health industry.
            </p>
            <h3>Meaningful Impact: </h3>
            <p> Your work at Therapy Flask will directly contribute to improving mental health care and accessibility. You'll be
                part of a mission-driven organization that is making a real difference in the lives of individuals globally.
            </p>

            <h3>Collaborative Culture:</h3>
            <p>
                We believe that the best results come from working together. Our team-oriented culture promotes collaboration,
                communication, and mutual respect. You'll work alongside talented professionals who are passionate about mental
                health and well-being.
            </p>
            
        </div>
        <div class="col-md-5">
            <img src="https://media.istockphoto.com/id/1423366794/photo/hospital-staff-meeting.jpg?s=1024x1024&w=is&k=20&c=cLvWPwH7mK-vwZjBXQ0O7xaM72V-ViqqMdPvZJ_WUeQ=" alt="">
        </div>
        <div class="col-12">
            <h2>Join Us</h2>
            <p>
                If you are passionate about mental health and want to be part of a team that is dedicated to making a positive
                impact, Therapy Flask Company is the place for you. Explore our current job openings and find out how you can
                contribute to our mission. Start your career with us and be a part of the future of mental health care.
        
            </p>
            <p>For more information about career opportunities at Therapy Flask Company, please visit our <a
                    href="{{url_for('careers')}}">Careers Page</a>. We look forward to welcoming you to our team!
            </p>
        </div>

    </div>
{% endblock %}